[submodule "DocGen/theme"]
	path = DocGen/theme
	url = https://github.com/Aptivi/docfx-apt.git
[submodule "private/Dtp"]
	path = private/Dtp
	url = https://github.com/Aptivi/Dtp
[submodule "assets/mpv"]
	path = assets/mpv
	url = https://github.com/mpv-player/mpv
